@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&display=swap');

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  font-family: 'Manrope', sans-serif;
}

#root {
  width: 360px;
  padding: 0 8px;
  /* border: 1px solid black; */
  
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 16px;
}

/* Track */
*::-webkit-scrollbar-track {
  background-color:#D9D9D9;;
}
 
/* Handle */
*::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555; 
}