@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&display=swap');

body {
  --bg-dark: #121212;
  --bg-lightDark: #212121;
  --color-dark: white;
  --highlight:#7EA1C1;
  --bg-img: url("https://github.com/Adebisi1234/eCommerce/blob/main/Frontend/src/images/clock13.jpg?raw=true");

  background-color: #121212;
  color: white;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  
  
  font-family: 'Manrope', sans-serif;
}
.fav {
  width: 30px; height: 30px;vertical-align: middle;fill: currentColor;overflow: hidden;
}
svg {
  color: white;
  fill: currentColor;
}

#root {
 width: 428px;
  padding: 0 16px;
  /* border: 1px solid black; */
  
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 16px;
}

/* Track */
*::-webkit-scrollbar-track {
  background-color:#D9D9D9;
}
 


/* Handle */
*::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.scrollbar::-webkit-scrollbar {
  display: none;
  height: 5px;
  border-radius: 16px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  display: none;
}
 


/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  display: none;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  display: none;
}

.scrollbar::-webkit-scrollbar-track {
  display: none;
}




.contain {
  display: flex;
  overflow: auto;
  
  flex: none;
}

.contain.x {
  width: 100%;
  height:100%;
  flex-flow: row nowrap;
}

/* scroll-snap */
.x.mandatory-scroll-snapping {
  scroll-snap-type: x mandatory;
}

.x.proximity-scroll-snapping {
  scroll-snap-type: x proximity;
}


.contain > div {
  scroll-snap-align: center;
  flex: none;
  width: 100%;
}

.mySwiper {
  width: 100%;
  height: 100%;
  outline: none;
}
.swiper-slide {
  background: #000;
  color: white;
  outline: none;
}